<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="addVehicle" method="post">
<table width="200" border="1">
  <tr>
    <th scope="row">vehicle no </th>
    <td><label>
      <input type="text" name="vehicleNo" required/>
    </label></td>
  </tr>
  <tr>
    <th scope="row">driver name </th>
    <td><label>
      <input type="text" name="driverName" required />
    </label></td>
  </tr>
  <tr>
    <th scope="row">driver phno </th>
    <td><label>
      <input type="phone" name="driverPhone" required pattern="[6789][0-9]{9}"/>
    </label></td>
  </tr>
  <tr>
    <th scope="row">address</th>
    <td><label>
      <textarea name="address" required></textarea>
    </label></td>
  </tr>
  <tr>
    <th scope="row">username</th>
    <td><label>
      <input type="text" name="username" required />
    </label></td>
  </tr>
   <tr>
    <th scope="row">password</th>
    <td><label>
      <input type="password" name="password" required />
    </label></td>
  </tr>
  <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="SAVE" />
      </label></th>
    </tr>
</table>

</form>
</body>
</html>
