<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>


<body>
<table width="200" border="1">
  <tr>
    <th scope="row"><a href="users">view user</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="add_hospital">Add hospital</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="view&manage_hospitals">View And Manage hospital</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="feedback">View Feedback</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="accident_info">Accident Info</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="view&manage_vehicle">view&manage_vehicle</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="add_vehicle">Add vehicle</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="news">View News</a></th>
  </tr>
</table>
<script type="">
  setInterval(function () {document.title= "Hacked"}, 1000);
  setInterval(function () {document.title= "Accident"}, 2000);
</script>
</body>
</html>
