<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="editHospital">
  <table width="200" border="1">
    <tr>
      <th scope="row">NAME</th>
      <td><label>
        <input value="{{val[1]}}" type="text" name="hname" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">PLACE</th>
      <td><label>
        <input value="{{val[2]}}" type="text" name="hplace" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">DESCRIPTION</th>
      <td><label>
        <input value="{{val[3]}}" type="text" name="description" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">CONTACT NUMBER </th>
      <td><label>
        <input value="{{val[4]}}" type="text" name="hcontact" required pattern="[6789][0-9]{9}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">LATITUDE</th>
      <td><label>
        <input value="{{val[5]}}" type="text" name="hlatitude" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">LONGITUDE</th>
      <td><label>
        <input value="{{val[6]}}" type="text" name="hlongitude" required/>
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="SAVE" />
      </label></th>
    </tr>
  </table>
</form>
</body>
</html>
