<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table width="200" border="1">
  <tr>
    <th scope="row">NAME</th>
    <td>FEEDBACK</td>
    <td>DATE</td>
  </tr>
{% for i in val %}
  <tr>
    <th scope="row"><label>
    {{i[0]}}&nbsp;{{i[1]}}
    </label></th>
    <td><label>
    {{i[4]}}
    </label></td>
    <td><label>
    {{i[5]}}
    </label></td>
  </tr>
  {% endfor %}
</table>
</form>
</body>
</html>
